.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    background: silver;
    width: 120px;
}
.sidebar > div{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
::deep a{
    padding: 10px;
    display: block;
}
